html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,button,img,button,select,iframe{
  padding:0;
  margin:0;
  border:0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #222222;
  color: #009dff;
}

.el-button {
  background: #222222;
  color: white;
  [class*=" el-icon-"], [class^=el-icon-] {
    transform: scale(1.5);
  }
  &:hover {
    background: #555;
  }

}

.el-button--default {
  [class*=" el-icon-"], [class^=el-icon-] {
    color: #009dff;
    text-shadow: 0 -1px 0 #6d6d6d;
  }
}

#app {
  background: #222222; 
}

#header {
  background: #333333 !important;
}

.el-button--icon {
  height: 33px;
  overflow: hidden;

  span {
    position: relative;
    top: -1px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-right: 5px;
      width: 16px;
      height: 16px;
    }
  }
}

.el-message-box {
  padding-bottom: 0;

  .el-message-box__header {
    padding: 10px 15px;
  }

  .el-message-box__headerbtn {
    right: 15px;
    top: 10px;
  }

  .el-message-box__title {
    font-size: 14px;
    font-weight: 700;
  }
}

.app-dialog {
  border-radius: 5px;
  overflow: hidden;


  .el-dialog__header {
    padding: 10px 20px;
    border-bottom: 2px solid #009dff;
    background: #222222;
  }

  .el-dialog__headerbtn {
    top: 15px;
    right: 20px;
  }

  .el-dialog__title {
    font-size: 14px;
    font-weight: 700;
    color: #009dff;
  }

  .el-form-item__label {
    font-size: 12px;
    text-align: left;
  }

  .el-dialog__body {
    padding: 0 0 10px 0;
    color: white;
    background: #222222;
  }

  .el-dialog__footer {
    padding: 10px 20px;
    background: #222222;
  }

  .el-form-item:last-child {
    margin-bottom: 0;
  }

  .el-tabs__nav-scroll {
    padding: 0 20px;
  }

  .el-tabs__content {
    padding: 0 20px;
  }
}

.app-dialog__section-title {
  background: #222222;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.el-tooltip__popper {
  padding: 3px 5px;
}

.el-notification__title {
  line-height: 24px;
}

.header__download-filter {
  margin-left: 15px;
  vertical-align: top;
}

.el-select {
  background: #333333;
  color: #009dff;
}

.el-tabs__item {
  color: white;
}

.el-tabs__nav-wrap::after {
  background-color: #222222;
}

.el-input__inner, .el-textarea__inner {
  background-color: #222222;
  color: white;
}

.el-input.is-disabled .el-input__inner {
  background-color: #333333;
  color: white;
}

.el-form-item__label {
  color: white !important;
}

.el-switch__core {
  background: #333333;

}

.el-divider__text {
  background-color: #222222;
  color: white;
}

#footer {
  background-color: #333 !important;
  color: white !important;
}
.footer-container .footer-btn, .footer-container .footer-status, .footer-container .footer-btn a {
  color: white !important;
  &:hover {
    color: #009dff;
    background-color: #333;
  }
}
